:root {
  --main-color: #4b11a1;
  --border-color: #ccc;
  --button-background: #f1f1f1;
  --button-color: #424242;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-top: 20px;
}

h1,
h4 {
  margin-left: 20px;
}

#board_area {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  /* position: relative; */
  /* border: 1px solid purple; */
}

.middle {
  margin-top: 30px;
  width: 90%;
  margin: 0 auto;
  min-height: 75vh;
  /* border: 1px solid red; */
}

.middle table {
  width: 100%;
  text-align: center;
  /* border: 1px solid #000; */
}

.middle th {
  height: 40px;
  border-top: 2px solid var(--main-color);
  /* border-bottom: 1px solid #ccc; */
}

.middle td {
  padding: 10px 0;
}

.bottom {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid #000; */
}

.bottom > a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  background-color: var(--button-background);
  color: var(--button-color);
  border-radius: 5%;
  font-weight: bold;
}

.bottom a:hover {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
}

#comment_area {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  /* border: 1px solid red; */
}

.comment_create {
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 30px 30px;
  overflow: visible;
  background-color: #f2ecfa;
  border-bottom: 1px solid var(--main-color);
}

.comment_create input[type="text"] {
  background: transparent;
  border: transparent;
  margin-bottom: 10px;
}

.comment_create textarea[name="description"] {
  width: 100%;
  margin-bottom: 5px;
  border: transparent;
}

input[type="submit"],
input[type="reset"] {
  float: right;
  padding: 5px 8px;
  margin: 10px 2px;
  background-color: var(--main-color);
  color: white;
  border-radius: 5%;
  font-weight: bold;
  border: transparent;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: var(--button-background);
  color: var(--button-color);
  font-weight: bold;
}

.comment_view {
  width: 100%;
  height: auto;
  overflow: visible;
  /* border: 1px solid #000; */
}

.comment_bottom {
  width: 100%;
  height: auto;
  overflow: hidden;
  /* border: 1px solid #000; */
}

.comment_bottom > a {
  float: right;
  text-decoration: none;
  padding: 4px 5px;
  margin: 2px;
  background-color: var(--button-background);
  color: var(--button-color);
  border-radius: 5%;
}

.comment_bottom > a:hover {
  background-color: var(--border-color);
  color: var(--button-color);
}

.default_display {
  padding: 20px 30px 10px 30px;
  background-color: var(--button-background);
  border-bottom: 1px solid var(--border-color);
  display: block;
}

.default_display table {
  width: 100%;
  /* border: 1px solid #000; */
}

.default_hide {
  display: none;
}

/* 
1. 왜 table하고 bottom사이에 간격이 있을까?
마진 준 것도 없는데 : 와 <br> 때문이었다.

2. overflow hidden 파헤치기
 */
